
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>

	<li class="active" href="#">Cartórios</li><i class="fa fa-circle"></i>

	<li class="active">Serventias</li>
</ul>


<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-building font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Listagem de serventias</span>
				</div>

				<div class="actions">
					<a href="#/notaryuses/create.html" class="btn blue">
						<i class="fa fa-plus"></i>
						<span class="hidden-480">Nova serventia</span>
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<table class="table table-striped table-bordered table-hover" ng-hide="!notaryuses.length">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">
									ID
								</th>
								<th width="5%">
									Nome
								</th>
								<th width="10%">
									Ações
								</th>
							</tr>
							<tr role="row" class="filter" data-ng-repeat="notaryuse in notaryuses">
								<td>
									{{notaryuse.id_serventia}}
								</td>
								<td>
									{{notaryuse.nome}}
								</td>
								
								<td>
									<div class="margin-bottom-5">
										<a class="btn btn-sm green" ng-href="#/notaryuses/edit.html/{{notaryuse.id_serventia}}"><i class="fa fa-search"></i></a>
										<button class="btn btn-sm red" data-toggle="modal" href="#remove" ng-click="modal(notaryuse)"><i class="fa fa-trash"></i></button>
									</div>
								</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>

					<div class="alert alert-info" ng-hide="notaryuses.length">
						<strong>Nenhuma serventia cadastrada!</strong>
					</div>

					<!-- MODAL FOR EXCLUSION -->
					<div class="modal fade" id="remove" tabindex="-1" role="basic" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">Aviso</h4>
								</div>
								<div class="modal-body">
									 Deseja realmente excluir '{{notaryuse_modal.nome}}'?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
									<button type="button" class="btn red"  data-dismiss="modal" ng-click="remove(notaryuse_modal)">OK</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /MODAL FOR EXCLUSION -->

				</div>
			</div>
		</div>
		
	</div>
</div>
