
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>

	<li class="active" href="#">Cartórios</li><i class="fa fa-circle"></i>
	<li class="active">
		<a href="#/notaryuses.html">Serventias</a><i class="fa fa-circle"></i>
	</li>
</ul>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp col-md-6">
					<i class="fa fa-building font-green-sharp"></i>
					<span class="caption-subject bold uppercase">SERVENTIAS</span>
				</div>


				<div class="col-md-6">
					<h5><b>{{ tipo_serventia.prefeitura }}</b></h5>
					<h5>
						CNPJ {{ tipo_serventia.cnpj }}
					</h5>
				</div>
			</div>

			<div class="portlet-body">
				<div class="table-container">
					<form name="notaryusef" class="form-horizontal" novalidation>
						<div class="form-body">
							<div class="row">
								<div class="col-md-5">
								<select name="tipo_serventias" ng-model="tipo_serventia"
								        class="form-control"
								        ng-options="tipo_serventia.nome for tipo_serventia in tipo_serventias track by tipo_serventia.id_cartorio"
								        ng-change="cartorioServentia(tipo_serventia.id_cartorio)"></select>
								</div>

								<div class="col-md-7">
								 <select name="cartorio_serventia" ng-model="cartorio_serventia"
								        class="form-control"
								        ng-options="tipo_serventia.nome for tipo_serventia in cartorioServentias track by tipo_serventia.id_tipo_serventias"
								        ng-change="getBydata(cartorio_serventia.id_tipo_serventias)"></select>
								</div>
							</div>
							<div>
								<div class="row">
									<div class="col-md-6">
										<h2><b>{{ tipo_serventia.nome }}</b></h2>
										<h4>
											{{ tipo_serventia.endereco }},
											{{ tipo_serventia.cidade }} -
											{{ tipo_serventia.uf }}
										</h4>
									</div>
								</div>

								<br>
								<h3>{{ cartorio_serventia.nome }}</h3>

								<h4>{{ cartorio_serventia.descricao }}</h4>
							</div>

							<div class="form-group panel-body" ng-show="serventias.length">
								<table class="table table-striped table-bordered table-hover">
									<thead>
										<tr role="row" class="heading">
											<th width="2%">
												
											</th>
											<th width="15%">
												Ato
											</th>
											<th width="5%">
												Valor Emolumento
											</th>
											<th width="5%">
												Nº de Atos
											</th>
											<th width="5%">
												Brutos
											</th>
											<th width="5%">
												ISSQN
											</th>
										</tr>
									</thead>
									<tbody>
											<tr role="row"
											data-ng-repeat="serventia in serventias">
											<td>{{ serventia.n_ato }}</td>
											<td>{{ serventia.ato }}</td>
											<td>
												<input
												ng-show="serventia.edit == '1'"
												ng-change="alterarValor(serventias)"
												ng-model="serventia.valor_emolumento"
												class="form-control"
												ui-money-mask>
											</td>
											<td>


												<div class="input-group" ng-show="serventia.edit == '1'">
													<span class="input-group-btn">
													<button ng-click="changeAtos($index, 'remove')" class="btn" type="button">
														<i class="fa fa-minus"></i>
													</button>
													</span>
													<input type="text"
													ng-change="alterarValor(serventias)"
													class="form-control"
													ng-model="serventia.n_de_atos">
													<span class="input-group-btn">
													<button ng-click="changeAtos($index, 'add')" class="btn" type="button">
														<i class="fa fa-plus"></i>
													</button>
													</span>
												</div>
											</td>
											
											<td>
												<span ng-show="serventia.edit == '1'">
													{{ serventia.bruto | currency }}
												</span>
											</td>
											<td>
												<span ng-show="serventia.edit == '1'">
													{{ serventia.issqn | currency }}
												</span>
											</td>
										</tr>
									</tbody>
									<tbody>
											<tr>
											</tr>
											<tr>
												<td align="right" colspan="3">Valor</td>
												<td>{{ valor.n_de_atos }}</td>
												<td>{{ valor.bruto | currency }}</td>
												<td>{{ valor.issqn | currency }}</td>
											</tr>
									</tbody>
								</table>
							</div>
						</div>

						<div class="form-actions" ng-show="serventias.length">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<img src="../app/img/bluoading.gif" ng-if="load">
									<button type="submit" class="btn btn-circle blue ng-binding" ng-click="saveNotary(serventias)">Atualizar</button>

									<button type="submit" class="btn btn-circle btn-warning ng-binding">Enviar Declaração</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
