<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="pt-br" data-ng-app="MetronicApp">
<!--<![endif]-->

<head>
<meta charset="utf-8"/>
<title>DeclaraISS | Login</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta http-equiv="Content-type" content="text/html; charset=utf-8">
<meta content="" name="description"/>
<meta content="" name="author"/>

<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="app/theme/global/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="app/theme/global/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="app/theme/global/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="app/theme/global/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>

<link href="app/theme/admin/pages/css/login.css" rel="stylesheet" type="text/css"/>

<link href="app/theme/global/css/components-rounded.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="app/theme/global/css/plugins.css" rel="stylesheet" type="text/css"/>
<link href="app/theme/admin/layout/css/layout.css" rel="stylesheet" type="text/css"/>
<link href="app/theme/admin/layout/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="app/theme/admin/layout/css/custom.css" rel="stylesheet" type="text/css"/>

<link rel="shortcut icon" href="app/img/favicon.png"/>
</head>

<body class="login">

<div class="menu-toggler sidebar-toggler">
</div>

<div class="logo">
	<a href="index.html">
	<img src="app/img/declaraiss.png" alt="DeclaraISS"/>
	</a>
</div>

<div class="content" ng-controller="LoginController">
	
	<form class="login-form">
		<h3 class="form-title">Olá, Bem vindo!</h3>
		<div class="alert alert-danger" ng-show="error">
			<button class="close" data-close="alert"></button>
			<span>Usuário ou senha inválidos.</span>
		</div>
		<div class="form-group">
			
			<label class="control-label visible-ie8 visible-ie9">E-mail</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="text" autocomplete="off" placeholder="E-mail" ng-model="user.email"/>
		</div>
		<div class="form-group">
			<label class="control-label visible-ie8 visible-ie9">Senha</label>
			<input class="form-control form-control-solid placeholder-no-fix" type="password" autocomplete="off" placeholder="Senha" ng-model="user.senha"/>
		</div>
		<div class="form-actions">
			<button type="button" class="btn btn-success uppercase" ng-click="login(user)">Entrar</button>
		</div>
	</form>
	
	<!--
	<form class="forget-form" action="index.html" method="post">
		<h3>Forget Password ?</h3>
		<p>
			 Enter your e-mail address below to reset your password.
		</p>
		<div class="form-group">
			<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email"/>
		</div>
		<div class="form-actions">
			<button type="button" id="back-btn" class="btn btn-default">Back</button>
			<button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
		</div>
	</form>
	-->
	
</div>
<div class="copyright">
	 2015 - Cartório Webapp
</div>

<!--[if lt IE 9]>
<script src="app/theme/global/plugins/respond.min.js"></script>
<script src="app/theme/global/plugins/excanvas.min.js"></script> 
<![endif]-->


<script src="app/theme/global/plugins/angularjs/angular.min.js" type="text/javascript"></script>	


<script src="app/js/login/app.js" type="text/javascript"></script>
<script src="app/js/controllers/LoginController.js" type="text/javascript"></script>
<script src="app/js/services/LoginService.js" type="text/javascript"></script>

<script src="app/js/scripts/locale.js" type="text/javascript"></script>


<script>

</script>
<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>