
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Usuários
	</li>
</ul>


<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-users font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Lista de Usuários</span>
				</div>
				<div class="actions">
					<a href="#/users/create.html" class="btn blue">
						<i class="fa fa-plus"></i>
						<span class="hidden-480">Novo usuário </span>
					</a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<!--
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="Cancel">Cancel</option>
							<option value="Cancel">Hold</option>
							<option value="Cancel">On Hold</option>
							<option value="Close">Close</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
					
					</div>-->
					<table class="table table-striped table-bordered table-hover">
						<thead>
							<tr role="row" class="heading">
								<th width="5%">
									ID
								</th>
								<th width="15%">
									Nome
								</th>
								<th width="17%">
									E-mail
								</th>
								<th width="10%">
									Função
								</th>
								<th width="10%">
									Último acesso
								</th>
								<th width="10%">
									Ações
								</th>
							</tr>
							<tr role="row" class="filter" data-ng-repeat="user in users">
								<td>
									{{user.id_usuario}}
								</td>
								<td>
									{{user.nome}}
								</td>
								<td>
									{{user.email}}
								</td>
								<td>
									{{ user.name }}
								</td>
								<td>
									{{user.ultimo_login | dateFormat}}
								</td>
								
								<td>
									<div class="margin-bottom-5">
										<a class="btn btn-sm green" ng-href="#/users/edit.html/{{user.id_usuario}}"><i class="fa fa-search"></i></a>
										<button class="btn btn-sm red" data-toggle="modal" href="#remove" ng-click="modal(user)"><i class="fa fa-trash"></i></button>
									</div>
								</td>
							</tr>
						</thead>
						<tbody>
						</tbody>
					</table>

					<div class="alert alert-info" ng-hide="users.length">
						<img src="img/bluoading.gif" alt="Carregando..."> <strong>Carregando...</strong>
					</div>

					<!-- MODAL FOR EXCLUSION -->
					<div class="modal fade" id="remove" tabindex="-1" role="basic" aria-hidden="true">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
									<h4 class="modal-title">Aviso</h4>
								</div>
								<div class="modal-body">
									 Deseja realmente excluir {{userm.nome}}?
								</div>
								<div class="modal-footer">
									<button type="button" class="btn default" data-dismiss="modal">Cancelar</button>
									<button type="button" class="btn red"  data-dismiss="modal" ng-click="remove(userm)">OK</button>
								</div>
							</div>
							<!-- /.modal-content -->
						</div>
						<!-- /.modal-dialog -->
					</div>
					<!-- /MODAL FOR EXCLUSION -->

				</div>
			</div>
		</div>
		
	</div>
</div>

