
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>
	<li>
		<a href="#/townhalls">Prefeituras</a><i class="fa fa-circle"></i>
	</li>
	<li class="active">
		Criar
	</li>
</ul>


<div class="row">
	<div class="col-md-12">

		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-institution font-green-sharp"></i>
					<span class="caption-subject bold uppercase">Criar Prefeitura</span>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-container">
					<!--
					<div class="table-actions-wrapper">
						<span>
						</span>
						<select class="table-group-action-input form-control input-inline input-small input-sm">
							<option value="">Select...</option>
							<option value="Cancel">Cancel</option>
							<option value="Cancel">Hold</option>
							<option value="Cancel">On Hold</option>
							<option value="Close">Close</option>
						</select>
						<button class="btn btn-sm yellow table-group-action-submit"><i class="fa fa-check"></i> Submit</button>
					
					</div>-->
					<form name="townf" class="form-horizontal" novalidation>
						<div class="form-body">
							<div class="form-group" 
								ng-class="{'has-error':townf.cnpj.$invalid && townf.cnpj.$dirty, 'has-success':townf.cnpj.$valid}">
								<label class="col-md-2 control-label">CNPJ</label>
								<div class="col-md-4">
									<input ng-model="townhall.cnpj" name="cnpj" type="text" class="form-control input-circle" required ng-minlength="5" ui-mask="99.999.999/9999-99">
									<span class="help-block" ng-show="townf.cnpj.$invalid && townf.cnpj.$dirty">CNPJ inválido.</span>
								</div>
							</div>
							<div class="form-group" 
								ng-class="{'has-error':townf.nome.$invalid && townf.nome.$dirty, 'has-success':townf.nome.$valid}">
								<label class="col-md-2 control-label">Nome</label>
								<div class="col-md-4">
									<input ng-model="townhall.nome" name="nome" type="text" class="form-control input-circle" placeholder="Prefeitura Municipal" required ng-minlength="5">
									<span class="help-block" ng-show="townf.nome.$invalid && townf.nome.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>
							<div class="form-group" 
								ng-class="{'has-error':townf.cidade.$invalid && townf.cidade.$dirty, 'has-success':townf.cidade.$valid}">
								<label class="col-md-2 control-label">Cidade</label>
								<div class="col-md-4">
									<input ng-model="townhall.cidade" name="cidade" type="text" class="form-control input-circle" placeholder="Guarulhos" required ng-minlength="5">
									<span class="help-block" ng-show="townf.cidade.$invalid && townf.cidade.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':townf.estado.$invalid && townf.estado.$dirty, 'has-success':townf.estado.$valid}">
								<label class="col-md-2 control-label">Estado</label>
								<div class="col-md-4">
									<input ng-model="townhall.uf" name="estado" type="text" class="form-control input-circle" placeholder="São Paulo" required ng-minlength="5">
									<span class="help-block" ng-show="townf.estado.$invalid && townf.estado.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':townf.codigo.$invalid && townf.codigo.$dirty, 'has-success':townf.codigo.$valid}">
								<label class="col-md-2 control-label">
									Código Tributario Municipal
								</label>
								<div class="col-md-4">
									<input ng-model="townhall.codigo" name="codigo" type="text" class="form-control input-circle" required ng-minlength="5">
									<span class="help-block" ng-show="townf.codigo.$invalid && townf.codigo.$dirty">Minímo 5 caracteres.</span>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label"></label>
								<div class="col-md-9">
									<span
										class="btn btn-circle default"
										ngf-select=""
										ngf-drop=""
										ng-model="townhall.logoMunicipal"
										ng-model-rejected="rejFiles"
										ngf-accept="'image/*'"
										accept=""
										ngf-disabled="disabled"
										ngf-capture="capture"
										ngf-drag-over-class="{accept:'drop-fileok', reject:'drop-fileerr', delay:100}"
										ngf-min-size="minSize"
										ngf-max-size="maxSize"
										ngf-allow-dir="allowDir"
										class="drop-box ng-valid ng-dirty"
										ngf-drop-available="dropAvailable">
										Logo Municipal
									</span>

									<div class="col-md-3" ng-show="townhall.logoMunicipal[0]">
										<div class="thumbnail">
									    	<img ngf-src="townhall.logoMunicipal[0]"/>
									    </div>
									    <div class="btn-group">
									    	<a class="btn btn-xs btn-danger" ng-click="townhall.logoMunicipal = ''">Remover</a>
									    </div>
									</div>

									<div class="col-md-3"
									ng-show="townhall.municipal && !townhall.logoMunicipal[0]">
										<div class="thumbnail">
									    	<img ng-src="{{ 'upload/imagem/' + townhall.municipal }}"/>
									    </div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label class="col-md-2 control-label"></label>
								<div class="col-md-9">
									<span
										class="btn btn-circle default"
										ngf-select=""
										ngf-drop=""
										ng-model="townhall.logoAdministracao"
										ng-model-rejected="rejFiles"
										ngf-accept="'image/*'"
										accept=""
										ngf-disabled="disabled"
										ngf-capture="capture"
										ngf-drag-over-class="{accept:'drop-fileok', reject:'drop-fileerr', delay:100}"
										ngf-min-size="minSize"
										ngf-max-size="maxSize"
										ngf-allow-dir="allowDir"
										class="drop-box ng-valid ng-dirty"
										ngf-drop-available="dropAvailable">
										Logo da Gestão
									</span>

									<div class="col-md-3" ng-show="townhall.logoAdministracao[0]">
										<div class="thumbnail">
									    	<img ngf-src="townhall.logoAdministracao[0]"/>
									    </div>
									    <div class="btn-group">
									    	<a class="btn btn-xs btn-danger" ng-click="townhall.logoAdministracao = ''">Remover</a>
									    </div>
									</div>

									<div class="col-md-3"
									ng-show="townhall.administracao && !townhall.logoAdministracao[0]">
										<div class="thumbnail">
									    	<img ng-src="{{ 'upload/imagem/' + townhall.administracao }}"/>
									    </div>
									</div>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':form.plano.$invalid && form.plano.$dirty, 'has-success':form.plano.$valid}">
								<label class="col-md-2 control-label">Cartórios</label>
								<div class="col-md-4">
									<div class="col-md-10 col-xs-9">
										<ui-select ng-model="cartorio.data" class="ui-selec" ng-disabled="disabled">
										    <ui-select-match>{{$select.selected.nome}}</ui-select-match>
										    <ui-select-choices repeat="notarie in notaries | filter: $select.search | orderBy: 'nome'">
										      <span ng-bind-html="notarie.nome | highlight: $select.search"></span>
										    </ui-select-choices>
										</ui-select>
									</div>
									
									<div class="col-md-2 col-xs-3">
										<a href="javascript:;" ng-click="addCartorio(cartorio.data)" class="btn btn-circle green">
										    <span class="fa fa-plus">
										    </span>
										</a>
									</div>
								</div>
							</div>
							
							<div class="form-group" ng-if="townhall.cartorios.length">

								<label class="col-md-2 control-label"></label>
								
								<div class="col-md-5">
									<div class="portlet box blue-hoki slimScrollBar">
										<div class="portlet-title"> 
											<div class="caption">Cartórios</div>
										</div>
											<div class="portlet-body">
												<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 250px;"><div class="scroller" style="height: 250px; overflow: hidden;" data-initialized="1">
													<table class="table table-striped table-bordered table-hover">
														<thead>
															<tr role="row" class="heading">
																<th width="40%" class="u-textCenter">
																	Nome
																</th>
																<th width="10%" class="u-textCenter">
																</th>
															</tr>
														</thead>
														<tbody>
															<tr role="row" class="filter ng-scope" data-ng-repeat="cartorio in townhall.cartorios">
																<td class="u-textCenter">
																	{{ cartorio.nome }}
																</td>
																<td class="u-textCenter">
																	<div class="margin-bottom-5">
																		<a class="btn btn-sm red" ng-click="removeCartorio($index)"><i class="fa fa-minus"></i></a>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="form-group" ng-repeat="documento in townhall.documentos"
								ng-class="{'has-error':townf.documento.$invalid && townf.documento.$dirty, 'has-success':townf.documento.$valid}"
								>
								<label ng-show="$first" class="col-md-2 control-label">Ato</label>
								<label ng-show="!$first" class="col-md-2 control-label"></label>

								<div class="col-md-12 row"></div>

								<label class="col-md-2 control-label"></label>
								<div class="col-md-3">
									<input ng-model="documento.nome" name="documento" type="text" class="form-control input-circle" required>
								</div>

                                <label class="col-md-2 control-label">
                                	Dispositivo Legal
                                </label>

                                <div class="col-md-1">
	                                <input type="text" class="form-control input-circle"
	                                       name="dispositivo"
	                                       ng-model="documento.dispositivo">
                                </div>



                                <label class="col-md-1 control-label">
                                	Prazo
                                </label>
                            
                                <div class="col-md-1">
                                    <input type="text" class="form-control input-circle"
                                           name="prazo"
                                           ng-model="documento.prazo">
                                </div>

                                <div class="col-md-2">
                                	<a ng-show="!$first" class="btn btn-sm red" ng-click="removeDocumento($index)">
										<i class="fa fa-minus"></i>
									</a>

									<a ng-show="$last" href="javascript:;" ng-click="addDocumento()" class="btn btn-sm green">
										<span class="fa fa-plus">
									    </span>
									</a>
								</div>
							</div>
	
						</div>
						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-circle blue" ng-click="save(townhall, townf)" ng-disabled="townf.$invalid">Cadastrar</button>
									<a class="btn btn-circle default" href="#/townhalls.html">Cancelar</a>
								</div>
							</div>
						</div>
					</form>
					
				</div>
			</div>
		</div>
		
	</div>
</div>

