
<ul class="page-breadcrumb breadcrumb">
	<li>
		<a href="#">Dashboard</a><i class="fa fa-circle"></i>
	</li>

	<li class="active" href="#">
		<a href="#/notaries.html">Cartórios</a><i class="fa fa-circle"></i>
	</li>

	<li class="active">{{title}}</li>
</ul>

<div class="row">
	<div class="col-md-12">
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption font-green-sharp">
					<i class="fa fa-building font-green-sharp"></i>
					<span class="caption-subject bold uppercase">{{title}}</span>
				</div>
			</div>

			<div class="portlet-body">
				<div class="table-container">
					<form name="notaryf" class="form-horizontal" novalidation>
						<div class="form-body">


							<div class="form-group" 
								ng-class="{'has-error':notaryf.nome.$invalid && notaryf.nome.$dirty, 'has-success':notaryf.nome.$valid}">
								<label class="col-md-3 control-label">Nome</label>
								
								<div class="col-md-4">
									<input ng-model="notary.nome" name="nome" type="text" class="form-control input-circle" placeholder="Cartório do João" required ng-minlength="1" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.nome.$invalid && notaryf.nome.$dirty">Minímo 1 caractere / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.responsavel.$invalid && notaryf.nome.$dirty, 'has-success':notaryf.responsavel.$valid}">
								<label class="col-md-3 control-label">Responsável</label>
								
								<div class="col-md-4">
									<input ng-model="notary.responsavel" name="responsavel" type="text" class="form-control input-circle" required ng-minlength="3" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.responsavel.$invalid && notaryf.responsavel.$dirty">Minímo 3 caractere / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.documento.$invalid && notaryf.documento.$dirty, 'has-success':notaryf.documento.$valid}">
								<label class="col-md-3 control-label">Documento</label>
								
								<div class="col-md-4">
									<input ng-model="notary.documento" name="documento" type="text" class="form-control input-circle" placeholder="" required ng-minlength="1" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.documento.$invalid && notaryf.documento.$dirty">Minímo 1 caractere / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.endereco.$invalid && notaryf.endereco.$dirty, 'has-success':notaryf.endereco.$valid}">
								<label class="col-md-3 control-label">Endereco</label>
								
								<div class="col-md-4">
									<input ng-model="notary.endereco" name="endereco" type="text" class="form-control input-circle" placeholder="Rua das Pedras, 123 - Centro" required ng-minlength="5" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.endereco.$invalid && notaryf.endereco.$dirty">Minímo 5 caracteres / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.cidade.$invalid && notaryf.cidade.$dirty, 'has-success':notaryf.cidade.$valid}">
								<label class="col-md-3 control-label">Cidade</label>
								
								<div class="col-md-4">
									<input ng-model="notary.cidade" name="cidade" type="text" class="form-control input-circle" placeholder="Ponta Grossa" required ng-minlength="3" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.cidade.$invalid && notaryf.cidade.$dirty">Minímo 3 caracteres / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.uf.$invalid && notaryf.uf.$dirty, 'has-success':notaryf.uf.$valid}">
								<label class="col-md-3 control-label">Estado</label>
								
								<div class="col-md-4">
									<input ng-model="notary.uf" name="uf" type="text" class="form-control input-circle" placeholder="Paraná" required ng-minlength="3" ng-maxlength="45">
									<span class="help-block" ng-show="notaryf.uf.$invalid && notaryf.uf.$dirty">Minímo 3 caracteres / Máximo 45 caracteres</span>
								</div>
							</div>

							<div class="form-group" 
								ng-class="{'has-error':notaryf.cep.$invalid && notaryf.cep.$dirty, 'has-success':notaryf.cep.$valid}">
								<label class="col-md-3 control-label">CEP</label>
								
								<div class="col-md-4">
									<input ng-model="notary.cep" name="cep" type="text" class="form-control input-circle" placeholder="999999-999" required ng-minlength="9" ng-maxlength="9">
									<span class="help-block" ng-show="notaryf.cep.$invalid && notaryf.cep.$dirty">Minímo 9 caracteres / Máximo 9 caracteres</span>
								</div>
							</div>


							<!-- USES -->
<!-- 							<div class="form-group">
								<label class="col-md-3 control-label">Nova serventia</label>
								<div class="col-md-4">
									<select class="form-control">
										<option ng-repeat="notaryuse in notaryuses" ng-click="addNotaryUse(notaryuse)">{{notaryuse.nome}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Serventias</label>
								<div class="col-md-4">
									<select multiple class="form-control">
										<option ng-repeat="use in uses" ng-click="removeNotaryUse(use)">{{use.nome}}</option>
									</select>
								</div>
							</div> -->
							<style>
								.ui-select-bootstrap > .ui-select-match > .btn{ overflow: hidden;}
							</style>
							<div class="form-group" 
								ng-class="{'has-error':form.plano.$invalid && form.plano.$dirty, 'has-success':form.plano.$valid}">
								<label class="col-md-3 control-label">Serventias</label>
								<div class="col-md-5">
									<div class="col-md-10 col-xs-9">
										<ui-select ng-model="notary.notaryuse" class="ui-selec" ng-disabled="disabled">
										    <ui-select-match>{{$select.selected.nome}}</ui-select-match>
										    <ui-select-choices repeat="notaryuse in notaryuses | filter: $select.search | orderBy: 'nome'">
										      <span ng-bind-html="notaryuse.nome | highlight: $select.search"></span>
										    </ui-select-choices>
										</ui-select>
									</div>
									
									<div class="col-md-2 col-xs-3">
										<a href="javascript:;" ng-click="addNotaryUse(notary.notaryuse)" class="btn btn-circle green">
										    <span class="fa fa-plus">
										    </span>
										</a>
									</div>
								</div>
							</div>
							
							<div class="form-group" ng-if="notary.notaryuses.length">

								<label class="col-md-2 control-label"></label>
								
								<div class="col-md-5">
									<div class="portlet box blue-hoki slimScrollBar">
										<div class="portlet-title"> 
											<div class="caption">Serventias</div>
										</div>
											<div class="portlet-body">
												<div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 300px;"><div class="scroller" style="height: 300px; overflow: hidden;" data-initialized="1">
													<table class="table table-striped table-bordered table-hover">
														<thead>
															<tr role="row" class="heading">
																<th width="40%" class="u-textCenter">
																	Nome
																</th>
																<th width="10%" class="u-textCenter">
																</th>
															</tr>
														</thead>
														<tbody>
															<tr role="row" class="filter ng-scope" data-ng-repeat="notaryuse in notary.notaryuses">
																<td class="u-textCenter">
																	{{ notaryuse.nome }}
																</td>
																<td class="u-textCenter">
																	<div class="margin-bottom-5">
																		<a class="btn btn-sm red" ng-click="removeNotaryUse($index)"><i class="fa fa-minus"></i></a>
																	</div>
																</td>
															</tr>
														</tbody>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>


							<!-- SERVICES -->
							<div class="form-group">
								<label class="col-md-3 control-label">Novo serviço</label>
								<div class="col-md-4">
									<select class="form-control">
										<option ng-repeat="notaryservice in notaryservices" ng-click="addNotaryService(notaryservice)">{{notaryservice.ato}}</option>
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-md-3 control-label">Serviços</label>
								<div class="col-md-4">
									<select multiple class="form-control">
										<option ng-repeat="service in services" ng-click="removeNotaryService(service)">{{service.ato}}</option>
									</select>
								</div>
							</div>

						</div>

						<div class="form-actions">
							<div class="row">
								<div class="col-md-offset-3 col-md-9">
									<button type="submit" class="btn btn-circle blue" ng-click="save(notary, uses, services)" ng-disabled="notaryf.$invalid">{{action}}</button>
									<a class="btn btn-circle default" href="#/notaries.html">Cancelar</a>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
		
	</div>
</div>
